### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
### *
### 'hello'
### -87.8
### -
### /
### +
### 6

In [ ]:
*       -> Expression
'hello' -> Value
-87.8   -> Value
-       -> Expression
/       -> Expression
+       -> Expression
6       -> Value

### 2. What is the difference between string and variable?

In [ ]:
String 

-> It is surrounded by single or double quotes
-> It is sequence of characters
-> It represents Simple Text data
-> It is immutable

Varible

-> It stores various types of data like integer,double,string,address of object etc
-> It is mutable

### 3. Describe three different data types.

In [ ]:
1. Integer

 -> It is a whole number, positive or negative, without decimals
     ex. 100, -9, 0 etc.
 
2. Float

    -> It represents floating point number ( contain decimal point )
        ex. -134.5, 1.0, 9.999 etc.
        
    -> It also represent scientific numbers with an "e" to indicate the power of 10.
        ex. 5e4, 9E7, -199e5
       
    
3. Complex

    -> It represent Imaginary number
    
    -> It is written with a "j" as the imaginary part
        ex. 7+5j, 9j, -7j
    
4. Boolean

    -> It represent one of two values - True or False
    
    -> True is equal to 1 & False is equal to 0
    
    
5. String

    -> It is surrounded by single or double quotes
    
    -> It is sequence of characters

    -> It is immutable
    
        ex. "FSDS", 'FSDS', "It's FSDS class"
        
6. List

    -> It is used to store multiple items in a single variable
    
    -> List items are ordered, changeable, and allow duplicate values
    
    -> It is written with square brackets.
    
    -> List items are indexed, the first item has index [0], the second item has index [1] etc.
    
        ex. mylist = [1, "FSDS", ["Hello",5,(10,20)], ('Data','Science'), "FSDS"]
        
7. Tuple

    -> It is used to store multiple items in a single variable.
    
    -> It is a collection which is ordered and unchangeable.
    
    -> It is written with round brackets.
    
    -> Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
    
        ex. mytuple = (1,"FSDS", "FSDS", ['Hello', 'World'])

8. Dictionary

    -> It is used to store data values in key:value pairs
    
    -> It is written with curly brackets, and have keys and values

    -> Dictionary items are ordered, changeable, and does not allow duplicates.

        ex. mydictionary = {
                                "course" : "FSDS"
                                "year" : 2022
                            }
    
    
9. Set

    -> Set items are unordered, unchangeable, and do not allow duplicate values.
    
    -> It is written with curly brackets
    
        ex. myset = {1,2,3,"Hello","World"}

### 4. What is an expression made up of? What do all expressions do?

In [ ]:
-> It is a combination of operators and operands that is interpreted to produce some other value

-> It is evaluated as per the precedence of its operators. So that if there is more than one operator in an     expression, their precedence decides which operation will be performed first.

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
spam = 10 

-> It is statement

-> Statement doesn't necessarily return value
    
-> Expressions are part of statements and evaluated by compiler

    ex. 100 + 5 * 2 is expression
        O/P : 110

### 6. After running the following code, what does the variable bacon contain?
### bacon = 22
### bacon + 1

In [ ]:
22

because reassignment didn't happen so it can't be 23 but it is 22.

if bacon = bacon + 1
then O/P will be 23

### 7. What should the values of the following two terms be?
### 'spam' + 'spamspam'
### 'spam' * 3

In [ ]:
'spam' + 'spamspam' -> 'spamspamspam'
'spam' * 3 -> 'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
-> A variable name must start with a letter or the underscore character
-> A variable name cannot start with a number
-> A variable name can only contain alpha-numeric characters and underscores

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
int() , float() , str()

### 10. Why does this expression cause an error? How can you fix it?
### 'I have eaten ' + 99 + ' burritos.'

In [ ]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

We can fix by ...

'I have eaten ' + '99' + ' burritos.'

Output : 'I have eaten 99 burritos.'